<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>category:</strong>
    <%= @product.category %>
  </p>

  <p>
    <strong>price:</strong>
    <%= @product.price %>
  </p>
</div>

<% if @product.reviews.any? %>
  <h3>Reviews (<%= @product.reviews.count %>)</h3>
  <table class="table">
  <thead>
    <tr>
      <th>Comment</th>
      <th>Rating</th>
      <th>User</th>
      <th class="center" colspan="3">Action</th>
    </tr>
  </thead>
  <%= render Review.all %>
</table>
<% end %>
